.hero {
  background-image: url("/assets/study-abroad.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {
  overflow: hidden;
  background-color: #12365888;
}
