@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tiqah-blue: #123559;
  --tiqah-lightBlue: #246cb4;
  --tiqah-gold: #d8b873;
  --tiqah-lightGold: #ffe7b4;
  --tiqah-darkPink: #92278f;
  --tiqah-lightPink: #efdfef;
}

body {
  margin:0;
  padding:0;
}